<h2> Register </h2>
<form method="post" action="/users/new">

  <label >Email:</label>
  <input name="user[email]" type="text"  tabindex="1" placeholder="Email">

  <label >Password:</label>
  <input name="user[password]" type="text"  tabindex="1" placeholder="Password">



  <input type="submit" value="Register" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
